annotated-types==0.7.0
asgiref==3.8.1
django==5.2
isort==6.0.1
ory-client==1.20.8
pydantic==2.11.3
pydantic-core==2.33.1
python-dateutil==2.9.0.post0
ruff==0.11.6
six==1.17.0
sqlparse==0.5.3
typing-extensions==4.13.2
typing-inspection==0.4.0
tzdata==2025.2 ; sys_platform == 'win32'
urllib3==2.4.0